@page "/feedback"
@rendermode InteractiveServer

<PageTitle>Feedback Page</PageTitle>

<h1>Feedback form</h1>
<!-- form -->
<form class="create-form">

<p role="status">Feedback Name: @textFeedbackName</p>
<input type="text" @bind="title" placeholder="What is the Feedback Name" class="form-control" />


<p role="status">Feedback Text: @textFeedbackText</p>
<input type="text" @bind="text" placeholder="Write your feedback here" class="form-control" />


<p role="status">Deadline: @deadline</p>
<select id="Dropdown" @bind="selectedDays" class="form-control">
    <option value="3">3 days</option>
    <option value="7">7 days</option>
</select>

<p role="status">Priority: @priority</p>
<select id="Dropdown" @bind="priority" class="form-control">
    <option value="@High">High</option>
    <option value="@Low">Low</option>
</select>




<button class="btn btn-primary mt-2" @onclick="Submit">Submit</button>

</form>

<button class="btn btn-primary mt-2" @onclick="Sendfeedback">send feedback</button>

@code {

    private string text = string.Empty;
    private string title = string.Empty;
    private string textFeedbackName = string.Empty;
    private string textFeedbackText= string.Empty;
    private int selectedDays = 3;
    private string High = "High";
    private string Low = "Low";
    private DateTime? deadline = null;
    private string priority = "";


    private void Submit()
    {
        // Store the user's input
        textFeedbackName = title;
        textFeedbackText = text;
        // Clear textbox after submission
        text = string.Empty;
        title = string.Empty;
    }

    // sendFeedback function
    private async void Sendfeedback()
    {
        
        FeedbackTrackerCommon.Definitions.Feedback fb = new FeedbackTrackerCommon.Definitions.Feedback();

        /*
          assign feedback
         */

        // fb.FeedbackId;
        // fb.AsignedUserID;
        // fb.AssigneeID;
        // fb.ModuleID;
        fb.FeedbackText = text;
        fb.Closed = false;
        fb.Title = title;
        fb.Priority = 5;
        // fb.AssignedUSer;
        // fb.Assignee;
        // fb.Module;

        Console.WriteLine(fb.Title);

        // call api createfeedback
        string apiFeedback = await new FeedbackApiClient("http://localhost:5189").CreateFeedback(fb);

        Console.WriteLine(apiFeedback);
    }
}