@page "/feedback"
@using Application.API
@using Core.Definitions
@using Serilog
@rendermode InteractiveServer
@inject JAuth Auth
@inject ModuleAPI ModuleClient
@inject UserAPI UserCLient
@inject NavigationManager NavigationManager

<title>TSE Feedback: Create Feedback </title>

@if (Auth.IsAuthorised())
{
    <PageTitle>Feedback Page</PageTitle>
    <div class="create-feedback">
    <h3>Create Feedback</h3>
        <!-- Feedback form -->
        <div class="card-body">
            <!--Name-->
            <div class="mb-3">
                <label for="title" class="first-label">Name:</label>
                <input id="title" type="text" @bind="title" placeholder="Enter Feedback Here..." class="form-control" />
            </div>

            <!--Text-->
            <div class="mb-3">
                <label for="text" class="label-text">Feedback Information:</label>
                <textarea id="text" type="text" @bind="text" placeholder="Enter Information About Feedback Here..." class="form-control" style="height: 100px; resize: none;" maxlength="8000"></textarea>
            </div>

            <!--Module-->
            <div class="mb-3">
                <label for="module" class="label-text">Feedback Module:</label>
                <select id="module" @onchange="moduleSelected" class="form-select">
                    @if (modules.Count > 0)
                    {
                        for (int i = 0; i < modules.Count; i++)
                        {
                            <option value="@modules[i].ModuleID">@modules[i].Module</option>
                        }
                    }
                    else
                    {
                        <option value="">No modules</option>
                    }
                </select>
            </div>

            <!--Assign-->
            <div class="mb-3">
                <label for="assign" class="label-text">Teacher To Assign Feedback:</label>
                <select id="assign" @bind=assignedUserID class="form-select">
                    @if (users.Count > 0)
                    {
                        for (int i = 0; i < users.Count; i++)
                        {
                            if (users[i].IsTeacher)
                            {
                                <option value="@users[i].UserID">@users[i].Username</option>
                            }
                        }
                        <option value="">No Teacher</option>

                    }
                </select>
            </div>
                
                <!--Label-->
                <div class="mb-3">
                    <label for="Label">Label:</label>
                    <select id="Label" @bind="Label" class="form-select">
                        <!-- add each module to select options-->
                        <option value="0">@FeedbackLabel.Positive</option>
                        <option value="1">@FeedbackLabel.Improvement</option>
                        <option value="2">@FeedbackLabel.Question</option>
                        <option value="3">@FeedbackLabel.Error</option>

                    </select>
                </div>
                <!--Visibility-->
                <div class="mb-3">
                    <label for="Visibility">Visibility:</label>
                    <select id="Visibility" @bind="Visibility" class="form-select">
                        <!-- Select Visibility Options -->
                        <option value="0">@FeedbackVisibility.Public</option>
                        <option value="1">@FeedbackVisibility.Private</option>

                    </select>
                </div>


            <div class="mb-3 text-center">
                <button class="btn btn-primary" @onclick="Sendfeedback"  style="min-width: 200px;">Submit Feedback</button>
            </div>
        </div>
    </div>

}

//For users that aren't logged in
else
{
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <div class="loggedout">
        <div class="loggedout-msg">
            <img src="/Images/LoginCone.png" alt="Login Required" class="cone-img">
            <h2>Please log in to create feedback.</h2>
            <button class="btn btn-loggedout" @onclick=HomeButton>Return Home</button>
        </div>
    </div>
}

@code {
    //Goes back to the login page
    private void HomeButton()
    {
        NavigationManager.NavigateTo("/LogIn");
    }

    private int Label;

    private int Visibility;

    
    // name
    private string title = string.Empty;
    // text
    private string text = string.Empty;

    // moduleID
    private int moduleID;
    // get modules
    private List<Modules> modules = new List<Modules>();
    
    // assigne
    // author of feedback (get current user)
    private User assignee = new User { };

    // assigned user
    private int assignedUserID;
    // get possible users to asign to
    private List<User> users = new List<User> { new User { UserID=0,Username="No users"} };


    // get users that can be assigned feedback
    private async void getAssignableUsers()
    {
        // Get module teachers.
        List<User?>? modusers = (await ModuleClient.GetUsersInModule(moduleID))
           .ToList();
        
        if(modusers != null && modusers.Count>0){
            users = modusers;
            assignedUserID = modusers[0].UserID;
        }

        StateHasChanged();

    }


    /// <summary>
    /// Updates module (UI)
    /// </summary>
    /// <param name="e"></param>
    private void moduleSelected(ChangeEventArgs e)
    {
        moduleID = int.Parse(e.Value?.ToString());
        getAssignableUsers();
    }

    // getModules (get modules user in / can access)

    private async Task GetModules() {

        //#TODO get modules user is in

        List<Modules?>? newmodules = await UserCLient.GetModules(assignee.UserID);

        if(newmodules != null){
            try
            {
                modules = newmodules;
                moduleID = modules.First().ModuleID;
            }
            catch (Exception ex)
            {
                Log.Error(ex, "Error getting modules");
            }
        }

        getAssignableUsers();
        // refresh ui with new data
        StateHasChanged();
    }


    // sendFeedback function
    private async void Sendfeedback()
    {

        //Create feedback object
        Core.Definitions.Feedback fb = new Core.Definitions.Feedback
        {
            // fb.FeedbackID; Feedback ID auto increment on insert
            AssignedUserID = assignedUserID, // ID of user the feedback is assigned to.
            AssigneeID = assignee.UserID, // ID of user thats logged in 
            ModuleID = moduleID, // ID of associated module
            FeedbackText = text, // text of feedback
            Closed = false, // Feedback starts open (close would be completed)
            Title = title // Name of feedback
        };

        // Send to API
        Log.Information("Feedback Created: {fb}", fb.Title);
        await new FeedbackAPI().CreateFeedback(fb);
        Log.Information("Posted to server");
        
        NavigationManager.NavigateTo("/");

    }

    // get logged in user
    private async Task getUser()
    {
        User? user = await UserCLient.GetUserByID(Auth.GetUser().UserID);
        // return logged user
        assignee = user;
    }
    
    protected override async Task OnInitializedAsync()
    {
        if (Auth.IsAuthorised())
        {
            await getUser();
            await GetModules();
        }
    }
}