@page "/usersfeedback"
@inject FeedbackAPI FeedbackClientAccess
@inject UserAPI UserClientAccess
@using Application.API
@using Core.Definitions
@using Serilog
@inject JAuth JAuth
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@{
    <style>
        .title-box {
        background-color: #1f1f1f;
        color: white;
        width: 100%;
        padding: 32px;
        text-align: center;
        }

        .sort-container {
        display: flex;
        align-items: center;
        gap: 8px;
        }

        .sort-box {
        background-color: #1f1f1f;
        border-style: solid;
        border-color: #1f1f1f;
        border-radius: 8px;
        width: 300px;
        padding: 16px;
        margin: 16px;
        text-align: center;
        color: white;
        }

        .feedback-box {
        position: center;
        display: block;
        background-color: #EBF0F5;
        border-style: solid;
        border-color: black;
        border-radius: 8px;
        width: 300px;
        padding: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 185px;
        text-align: center;
        color: black;
        text-decoration: none;
        }

        .feedback-box:hover {
        transform: translateY(-2px);
        }
    </style>

    <title>Your Feedback</title>

        <div style="text-align: center;" >
            <h1>Your Feedback</h1>
        </div>

        <div class="sort-container">
            <div class="sort-box">
                <label for="teachername">Show from:</label>
                <select id="teachername" @onchange="SortByTeacher">
                    <option value="all">Everyone</option>
                    @if (Users != null)
                    {
                        foreach (var teacher in Users)
                        {
                            <option value="@teacher.UserID">@teacher.Username</option>
                        }
                    }
                    else
                    {
                        <option value="">No Assignments</option>
                    }
                </select>
            </div>

            <div class="sort-box">
                <label for="sorting">Sort By:</label>
                <select id="sorting" @onchange="SortBySelected">
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="public">Public Feedback</option>
                    <option value="private">Private Feedback</option>
                </select>
            </div>
        </div>

        @if (SpecificFeedbacks != null)
        {
            foreach (var feedback in SpecificFeedbacks)
            {
                <NavLink class="feedback-box" href="@($"/viewfeedback/{feedback.FeedbackID}")">
                    <p>@feedback.Title</p>
                    @if (Users != null)
                    {
                        foreach (var assignee in Users)
                        {
                            if (assignee.UserID == feedback.AssigneeID)
                            {
                                <p>
                                    <strong>@assignee.Username</strong>
                                </p>
                            }
                        }
                    }
                    <p>@feedback.FeedbackText</p>
                    @if (JAuth.User.UserID == feedback.AssigneeID)
                    {
                    <p><strong>You assigned this!</strong></p>
                    }
                    else
                    {
                    <p><strong>This was assigned to you!</strong></p>
                    }
                </NavLink>
            }
        }
        <title>TSE Feedback: Your Feedback</title>

}

@code {
    private void HomeButton()
    {
        NavigationManager.NavigateTo("/LogIn");
    }
    
    /// <summary>
    /// These are lists that contain the data from the related
    /// datbase, e.g. Teachers contains data about the user
    /// </summary>
    private List<Core.Definitions.Feedback> AllFeedbacks = new();

    private List<Core.Definitions.Feedback> SpecificFeedbacks = new();

    private List<User> Users = new();

    // the values that will be assigned for these are from when the user filters their feedback
    private string? SelectedOption { get; set; } = "";

    private string SelectedTeacherID { get; set; } = "";

    /// <summary>
    /// Sorts the feedbacks based on the specific filter applied
    /// by the user, by rearranging the lists
    /// </summary>
    private void SortBySelected(ChangeEventArgs e)
    {
        if (e != null)
        {
            SelectedOption = e.Value?.ToString();
        }

        if (SelectedOption == "az") // alphabetical
        {
            SpecificFeedbacks.Sort((current, next) => String.Compare(current.Title, 
                next.Title, StringComparison.Ordinal));
        }
        else if (SelectedOption == "za") // reverse alphabetical
        {
            SpecificFeedbacks.Sort((current, next) => String.Compare(next.Title, 
                current.Title, StringComparison.Ordinal));
        }
        else if (SelectedOption == "public") // public
        {
            SpecificFeedbacks = AllFeedbacks.Where(feedback => feedback.Visibility.ToString() == "Public").ToList();
        }
        else if (SelectedOption == "private") // private 
        {
            SpecificFeedbacks = AllFeedbacks.Where(feedback => feedback.Visibility.ToString() == "Private").ToList();
        }
    }

    /// <summary>
    /// Creates a new list depending on the username of the teacher,
    /// all feedbacks not associated with that teacher will be excluded
    /// </summary>
    private void SortByTeacher(ChangeEventArgs e)
    {
        SelectedTeacherID = e.Value.ToString();
        if (SelectedTeacherID == "all") // if the user wishes to see all of their feedbacks
        {
            SpecificFeedbacks = new List<Core.Definitions.Feedback>(AllFeedbacks);
        }
        else
        {
            SpecificFeedbacks.Clear();
            foreach (var feedback in AllFeedbacks) // loops through original list to add all related feedbacks
            {
                // checks if the teacher assigned the feedback by seeing if they have the same ID as the assignee ID
                if (SelectedTeacherID != null && int.Parse(SelectedTeacherID) == feedback.AssigneeID)
                {
                    SpecificFeedbacks.Add(feedback);
                }
            }
        }
    }

    /// <summary>
    /// Loads all the feedbacks into the two specific feedback lists
    /// by communicating with the API
    /// </summary>
    private async Task LoadAllFeedback(int ID)
    {
        try
        {
            var feedbacks = await FeedbackClientAccess.GetAssignedFeedbacks(ID); // communicates with API
             // different assignments to make sure All and Specific don't point to the same object in memory
             if (feedbacks != null)
             {
                 AllFeedbacks = feedbacks;
                 SpecificFeedbacks = new List<Core.Definitions.Feedback>(feedbacks);
             }
        }
        catch (Exception ex) // feedbacks fails to load
        {
            Log.Error(ex, "Failed to load feedbacks.");
        }
    }

    /// <summary>
    /// Loads the data for people that have assigned feedback to the current user
    /// </summary>
    private async Task LoadAssignees()
    {
        Users.Clear(); // empties teacher
        if (AllFeedbacks != null)
            foreach (var feedback in AllFeedbacks)
            {
                // checks to see if a teacher is already in the list, as otherwise the filter dropdown could be cluttered by the same teacher
                if (Users.All(teach => teach.UserID != feedback.AssigneeID))
                {
                    var user = await UserClientAccess.GetUserByID(feedback.AssigneeID); // gets a single user based on a provided ID
                    try
                    {
                        if (user != null) 
                        {
                            Users.Add(user); // adds to list
                        }
                    }
                    catch (Exception ex) // teachers fails to load
                    {
                        Log.Error(ex,"Failed to load teacher.");
                    }
                }
            }
    }

    private async Task clearNotifications(){
        List<Notification?>? notifications = await UserClientAccess.GetNotification(JAuth.GetUser().UserID);

        if (notifications.Count > 0)
        {
            await UserClientAccess.NotificationDelete(JAuth.GetUser().UserID);

        }
    }
    /// <summary>
    /// Loads the feedback data and teacher data as soon as the page is loaded
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        JAuth.EnforceAuth();
        if (JAuth.IsAuthorised())
        {
            if(JAuth.GetUser()!=null){
                await LoadAllFeedback(JAuth.User.UserID);
                await LoadAssignees();

                // clear notifications
                await clearNotifications();
            }

        }
    }

}